body{
  background-color:rgb(242, 242, 253);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.vl {
  border-left: 1px solid rgb(228, 214, 214);
  height: 55px;
}

.h6text{
 
  margin-left:40px;

}
Nav.Link {
  margin-top:-5px;
}


.searchinput{
  margin-right: 150px;
  height: 45px;
  width: 280px!important;
  padding-left:40px ;

}
.container{
  align-items: center;
  margin-top: 20px;
}
.iconntext{
  margin-left: 15px;
  margin-right: 15px;

}
.searchicon{
  position:relative;
  z-index:1;
  margin-bottom:-45px ;
  margin-left: 10px;
  font-size: large;
}
