
.jumbtrn-cover{
  position: relative;
  height: 430px;
}
.cover-img{
  position: relative;
  top: -100px;
  width: 100%;
}
.edit-btn{
    position: absolute;
    right: 0; 
    top: 332px;
}
/* .edit-btn2{
  position: absolute;
  z-index: 10;
  right: 0; 
  top: 332px;
} */
.cover-img2{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 300px;
  position: relative;
  bottom: 200px;

}
