/* body{
  background-color:rgb(242, 242, 253);
} */
/* .App {
  text-align: center;
} */

.footerItem {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.footerItem:hover {
  color: rgb(0, 65, 130);
  text-decoration: underline !important;
  cursor: pointer;
}

.footerP {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.dropdownFooter {
  height: 20px;
}

.dropdownfooterItem {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
}
.dropdownfooterItem:hover {
  color: rgb(0, 65, 130);
  text-decoration: underline !important;
  cursor: pointer;
}
.mukhtor {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.second-edit-btn {
  position: relative;
}
.edit-btn2 {
  position: relative;
  z-index: 1;
  left: 94%;
  top: -50px;
}
.jumbtrn-cover {
  position: relative;
  height: 300px;
}
.cover-img {
  object-fit: cover;
  position: relative;
  top: -100px;
  width: 100%;
  height: 300px;
}
.edit-btn1 {
  position: absolute;
  right: 0;
  top: 200px;
}

.cover-img2 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 200px;
  position: relative;
  bottom: 190px;
  left: 10px;
}
#input-group-dropdown-2 {
  color: black;
  border-top: 1px solid rgba(222, 222, 222, 0.9);
  border-right: 1px solid rgba(222, 222, 222, 0.9);
  border-bottom: 1px solid rgba(222, 222, 222, 0.9);
  border-radius: 0;
}
.vl {
  border-left: 1px solid rgb(228, 214, 214);
  height: 55px;
}

Nav.Link {
  margin-top: -5px;
}
.contact-link {
  cursor: pointer;
}
.contact-link:hover {
  text-decoration: underline;
}

.searchinput {
  height: 45px;
  position:relative ;
 padding-left: 10% !important;
 

  
}
.container {
  align-items: center;

}
.iconntext {
  text-align: center;
}
.searchicon {
  position: relative;
  z-index: 1;
  margin-bottom: -18%;
  margin-left: 3%;


  font-size: large;
}
.profilebtn{
  width: 150px;
  border-radius: 10px;
}
.container{
  height: 55px !important;
}
.navicon{
  margin-bottom:-10px;
}



@media (max-width: 1024px){
  .container {
    max-width: 100% !important;
    padding: 10px !important;
  }
}
@media (max-width: 1024px){
  .searchinput {
   display:none !important;
  }
}

.MyTopSidebarItem {
  font-family: apple-system, system-ui, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
.pName {
  font-family: -apple-system, system-ui, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 1)
}
.pJob {
  font-family: -apple-system, system-ui, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.9)
}
.h5ProfileHeader {
  margin-left: 10px;
  margin-top: 20px;
}
.sideBarProfileImg {
  width: 50px;
  height: 50px;
}

/* Ali Experience Jumbotron Styles */


.expr-add-btn{
  font-size: 25px !important;
}
.expr-add-btn:hover{
  cursor: pointer;
  background-color: #bdc6cf;
  border-radius: 20px;
}
.first-param{
  font-size: 15px;
}
.ali{
  background-color: #EEF3F8;
  border-radius: 5px;
}
.on-off{
  font-size: 35px;
  margin-left: 130px;
}

/* POSTS STYLE GOES HERE */

.user-img{
  margin-bottom: 20px;
  object-fit: cover;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  left: 0;
  top: 0;
}
.emails:hover{
  text-decoration: underline;

}
.user-btns:hover{
  border: 1px solid grey;
}
.user-img{
  margin-top: -50px;
  width: 70px;
  height: 70px;
}
.user-btn{
  position: relative;
  min-width: 82% !important;
  margin-top: -50px;
  margin-left: 15px;
  border: 1px solid grey !important;
}

.App-header{
  background-color: rgb(255, 246, 246);
}
.navbar-style{
  height: 60px !important;
}
.user-btn:hover{
  background-color:  rgb(255, 246, 246);
}
.user-btns1:hover{
border: 1px solid grey !important;

}
.post-user-img{
  width: 50px;
  height: 50px;
}
.anyone-seen-btn{
  border: 1px solid grey !important;
}
.user-name{
  position: absolute;
  left: 80px;
  top: 14px;
}